body {
	background-color: black;
	color: white;
}
h1
{
	background-color: gray;
	font-family: Arial, Verdana, sans-serif;
	letter-spacing: 0.1em;
}
p
{
	font-family: Arial, Verdana, sans-serif;
	letter-spacing: 0.1em;
}
#copyright
{
	font-style: italic;
	font-size: 12px;
}